<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:19:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:19:11</td>   <td>1320</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:19:11</td>   <td>966</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:18:36</td>   <td>-33755</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:18:36</td>   <td>-33742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:18:35</td>   <td>-34595</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/30 18:18:53</td>   <td>-16673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_MiBrand.miBrand()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">miBrand</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/30 18:18:36</td>   <td>-33761</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_MiBrand.setData()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
</table>
