<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:53:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:54:02</td>   <td>3413</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:54:01</td>   <td>1917</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:52:33</td>   <td>-86225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:52:33</td>   <td>-86211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/12/30 18:52:32</td>   <td>-87286</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/30 18:53:27</td>   <td>-32295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_MiBrand.miBrand()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">miBrand</td> 
  <td>main@916419490</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/30 18:52:33</td>   <td>-86233</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_MiBrand.setData()[pri:0, instance:testcases.TC002_MiBrand@64bf3bbf]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@916419490</td>   <td></td> </tr>
</table>
